<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minuf.example.material" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.Activity_NestedScroll_Sample"
            android:label="@string/title_activity_activity__nested_scroll__sample" >
        </activity>
        <activity
            android:name=".activities.Activity_FullScreenPhoto"
            android:label="@string/title_activity_activity__full_screen_photo" >
        </activity>
        <activity
            android:name=".activities.Activity_CardViewPhoto"
            android:label="@string/title_activity_activity__card_view_photo" >
        </activity>
        <activity
            android:name=".activities.Activity_ElevationShadow_NinePath_Sample"
            android:label="@string/title_activity_activity__elevation_shadow__nine_path__sample" >
        </activity>
    </application>

</manifest>
